/* = Grid Starts here */
/* Do the math, dummy */
/*calculate the width of Columns */
.col-1 {
  width: calc(8.33333%*1);
}

.col-2 {
  width: calc(8.33333%*2);
}

.col-3 {
  width: calc(8.33333%*3);
}

.col-4 {
  width: calc(8.33333%*4);
}

.col-5 {
  width: calc(8.33333%*5);
}

.col-6 {
  width: calc(8.33333%*6);
}

.col-7 {
  width: calc(8.33333%*7);
}

.col-8 {
  width: calc(8.33333%*8);
}

.col-9 {
  width: calc(8.33333%*9);
}

.col-10 {
  width: calc(8.33333%*10);
}

.col-11 {
  width: calc(8.33333%*11);
}

.col-12 {
  width: calc(8.33333%*12);
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.row [class*="col-"] {
  box-sizing: border-box;
  margin: 0 0;
  padding: 1em;
}

/* Grid Ends */
/* = below code is only for the demo purpose */
html {
  background: white;
  font-size: 1rem;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  display: block;
  background: white;
  margin: 0 auto;
  padding-top: 80px;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h1 {
  color: #db5051;
  font-size: 2.441rem;
  font-family: "Lora", serif;
  font-weight: 700;
}

h2 {
  font-size: 1.953rem;
  color: #75649b;
  font-family: "Lora", serif;
}

h4 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.563rem;
  color: #3d3c46;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  color: #666666;
}

a {
  color: #db5051;
  font-weight: bold;
  text-decoration: none;
}

.top-nav {
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: solid 1px #edebe6;
  z-index: 99;
  background: white;
  padding: 0 2rem;
}
.top-nav .brand, .top-nav ul li a {
  height: 80px;
  line-height: 80px;
}
.top-nav ul {
  display: block;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a {
  display: inline-block;
  padding: 0 2rem;
  color: black;
}
.top-nav ul li a:hover {
  color: #db5051;
}

.hero {
  height: 50vh;
  padding: 20vh 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #3d3c46;
}
.hero:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: url("../images/bg.jpg") no-repeat;
  opacity: 0.5;
  background-size: 100% auto;
}
.hero > article {
  position: relative;
  z-index: 2;
}
.hero > article p, .hero > article h1 {
  color: white;
}

/* = Borders */
.border {
  border: solid 1px #edebe6;
}

.border-left {
  border-left: solid 1px #edebe6;
}

.border-right {
  border-right: solid 1px #edebe6;
}

.border-top {
  border-top: solid 1px #edebe6;
}

.border-bottom {
  border-bottom: solid 1px #edebe6;
}

/* = Grid ends here */
/* = UI Components */
/*Forms */
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="file"]),
textarea {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  width: 100%;
  border: solid 1px #cccccc;
  outline: none;
  box-sizing: border-box;
  padding: 0.6rem;
  box-shadow: none;
  border-radius: 4px;
}
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="file"]):focus,
textarea:focus {
  border: solid 1px #aaa;
}

.input-wrap, fieldset {
  margin-bottom: 1rem;
}

fieldset {
  border: solid 1px #edebe6;
  padding: 0.6rem;
}
fieldset legend {
  font-size: 0.8rem;
  color: #999999;
}

select {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  width: 100%;
  border: solid 1px #cccccc;
  outline: none;
  box-sizing: border-box;
  padding: 0.6rem;
  box-shadow: none;
  border-radius: 4px;
  height: 2.5rem;
  background: #fff;
}
select:focus {
  border: solid 1px #aaa;
}

label {
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  main [class*='col-'] {
    border: solid 1px #edebe6;
  }

  .top-nav {
    position: fixed;
  }
  .top-nav nav.col {
    position: absolute;
    width: 40px;
    height: 3px;
    display: block;
    right: 2em;
    top: 37px;
    background: black;
  }
  .top-nav nav.col ul {
    position: fixed;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    top: 80px;
  }
  .top-nav nav.col:after, .top-nav nav.col:before {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
  }
  .top-nav nav.col:before {
    top: -8px;
  }
  .top-nav nav.col:after {
    bottom: -8px;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row [class*='col'] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .row[class*='border'] {
    border: solid 1px #edebe6;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  body {
    width: 900px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  body {
    width: 100%;
  }
}
.sidebar {
  font-size: 85%;
}
.sidebar > article {
  border-bottom: solid 1px #edebe6;
  padding: 1em;
}
.sidebar > article:last-of-type {
  border: none;
}

.grid-preview {
  padding: 3em 0;
  background: #fafafa;
  border-bottom: solid 1px #edebe6;
}
.grid-preview [class*='col'] {
  border-color: #cccccc;
  font-size: 80%;
  border: solid 1px #edebe6;
  background: #fff;
}
footer {
  text-align: center;
}

#menu_body li ul {
    display: none;
    }
#menu_body li:hover ul, #menu_body li.over ul {
    display: block;
    } 
 #menu_body { 
    background:#175717; 
  
    } 
#menu_body a { 
    display: block; 
    padding-left: 15px;
    } 
     
#menu_body ul li { 
    list-style-type: none; 
    border-bottom: 1px solid #fff; 
    margin-left: -40px; 
    padding-left: 0px; 
    } 

#menu_body ul li a { 
    color: #fff; 
    text-decoration: none;
    font-size: 115%;
    font-family: "Roboto" Georgia; 
    } 
    
#menu_body ul li a:hover { 
    color: #fff; 
    text-decoration: none; 
    background:#424242;
    } 
     
#menu_body ul li ul li { 
    border: 0; 
    list-style-type: none; 
    color: #fff; 
    list-style-position: inside; 
    background:#7FA77F;
    } 
     
#menu_body ul li ul{ 
    border-top: 1px solid #fff; 
    margin-left: -10px; 
    padding-left: 50px; 
    } 
