extends layout

block content
  script(src='/javascripts/ajax1.js')
  #content
    h2 How to GET and POST in node.js
    form(method='post', action='/users/chat')
      textarea#textbox(name='text') Enter text here that will be sent to the server using the POST method.
      br
      input#submit(type='submit', name='submit', value='SUBMIT')
      

