extends layout

block content
  script(src='/javascripts/ajax1.js')
  #content
    h2 Post Ajax

    button(onclick="startAjax('/users/api/users','GET');") Get Ajax
    button(onclick="startAjax('/users/api/users','POST');") Post Ajax
    #console(style='border: 1px solid gray; width:250px; height: 110px; padding: 10px; background:lightgray;')
      | Cosole log panel
    br
    #printResult
      | print result

