extends layout

block content
    input( type='hidden' id='current_page')
    input( type='hidden' id='show_per_page')
    script(src='/javascripts/catalog.js')
    script#productTemplate(type='text/template').
      <div class="product">
      <div id="banner"></div>
      <div class="info-large">
      <h4></h4>
      <div class="sku">PRODUCT SKU: <strong></strong></div>
      <div class="price-big"><span></span></div>
      <button class="add-cart-large">Add To Cart</button>
      </div>
      <div class="make3D">
      <div class="product-front">
      <div class="shadow"></div>
      <img alt="" />
      <div class="image_overlay"></div>
      <div class="add_to_cart">Add to cart</div>
      <div class="stats">
      <div class="stats-container">
      <span class="product_price"></span>
      <span class="product_name"></span>
      <p></p>
      <div class="product-options">
      </div>                                            
      </div>
      </div>
      </div>
      <div class="product-back">
      <div class="shadow"></div>
      </div>
      </div>
      </div>

    div#grid-selector
      div#grid-menu View:
        ul                
          li(class="largeGrid")
            a( href="")
          li(class="smallGrid")
            a( class="active" href="")

      div#page_navigation
    div#grid
