extends blog

block content
    #content
      h2
        a(href='ui_libraries_comparison.html') JavaScript UI libraries comparison
      p
        | It seems to be pretty easy to create a good-looking web page. Even your neighbor has one or two of them. It's for sure! For approximately two decades of World Wide Web existence hordes of web developers are trying to improve the way of how you interact with the Global Network. And how it interacts with you through different technologies such as JavaScript, for example... 
        a.article(href='ui_libraries_comparison.html') Read more
      h2
        a(href='') Node.js for beginners. Building your own web server
      p
        | We will use Node.js for our project. Node.js is an open source, cross-platform runtime environment, which allows you to build server-side and networking applications. It's written in JavaScript and can be run within the Node.js runtime on any platform. First of all, of course, you need to install it... 
        a.article(href='hode.html') Read more