doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/modernizr.js' type='text/javascript')
    
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet prefetch' href='/stylesheets/normalize.css')
    script(src='/javascripts/prefixfree.min.js')
    script(src='/javascripts/jquery.min.js')
    
  body
    block content